*
*.*
!*/
!*.cpp
!*.hpp
!*.h
!.gitignore
!*.sh
!*.py
!CMakeLists.txt
/refcode
/result for paper
/build
/booksim2
!libmain.so
/.idea
!booksim
!booksim_cfg
!SimConfig.ini
!techfile.txt
/logs
/pimapping
/runs
/results